.scoreboardButton {
    color: rgb(115 82 73);
    background-color: #f0c97a;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    border: 3px solid #735249;
    cursor: pointer;
}

.scoreboardButton:hover {
    background-color: #735249;
    color: white;
    border: 3px solid #4b3832;
}