.start {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;

  color: rgb(115 82 73);
  background-color: #f0c97a;
  border-radius: 4px;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  border: 3px solid #735249;
  cursor: pointer;

  transition: all 0.3s ease;
}

.start:hover {
  background-color: #735249;
  color: white;
  border: 3px solid #4b3832;
}